<section class="quests">
  <h2>Quests</h2>
  <!-- <p></p> -->
</section>

<section class="quests">


  @for (quest of quests; track quest.id; let i = $index) {
  <app-quest-item [quest]="quest" (deleteQuest)="deleteQuest($event)"></app-quest-item>
  <hr>
  } @empty {
  <p>Momentálne nie sú dostupné žiadne questy.</p>
  }

  <div class="new-quest" id="new-quest" (click)="showQuestForm()">+</div>

  @if (questFormVisible) {
  <div>
    <h2>Nový quest - {{quests.length + 1}}</h2>

    <form>
      <label for="title">Názov:</label>
      <input type="text" id="title" name="title" required>

      <label for="description">Popis:</label>
      <textarea id="description" name="description" required></textarea>

      <label for="xp">XP:</label>
      <input type="number" id="xp" name="xp" required min="1">

      <button type="submit">Pridať quest</button>
    </form>
  </div>
  }

</section>